<section class="game-container">
	<h1 class="title">¿QUIEN CREE TENER LA CABEZA BIEN PUESTA? </h1>

	<section class="question container">

		<section class="question___question">
			<h5>¿{{question.question}}?</h5>
		</section>

		<section class="question___answers row">
			<div class="question___answers__answer col-12 col-md-6 {{'option-' + answer.option}}" *ngFor="let answer of question.answers"
			 (click)="selectResponse(answer, block)" #block>
				<span class="question__answers__answer_option">{{answer.option | uppercase}}: </span>
				<span class="question__answers__answer_response">{{answer.response}}</span>
			</div>
		</section>

	</section>


	<h5>Actual puntaje: {{points}}</h5>
</section>


<div class="modal correct-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Felicidades, ¡Correcto!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Ahora tenes {{points}} puntos.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onAccept()">Siguente pregunta</button>
			</div>
		</div>
	</div>
</div>


<div class="modal wrong-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Ups te equivocaste :(</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Volvé a intentar después </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="resetAll()">Reintentar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal complete-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">¡Sos un genio!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Ganaste sos el mejor. Tu puntaje fue de <b>{{points}}</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="resetAll()">Volver a jugar</button>
			</div>
		</div>
	</div>
</div>